.gridCell{    
    border:1px solid black;    
}

#container{
    display:flex;
    flex-wrap: wrap;
    margin:auto;
}

#resetButton{
    padding:16px 8px;
    margin:8px auto;
    display:block;
    border-radius: 8px;
}